/*=== ROOT PROPERTIES ===*/
:root {
  --basic-brown: #393939;
  --basic-orange: #ffb326;
  --basic-red: #ee0000;
  --basic-greylight: #9a9a9a;
  --basic-background: #f5f5f5;
  --border-grey: #cdcdcd;
  --text-brown: #3e3e3e;
  --hover-blue: #00669c;
  --hover-tomato: #d2400f;
  --succes: #5cb85c;
  --danger: #d9534f;
  --black: #000;
  --white: #fff;
}

/*=== FONTS ===*/
/* == SANS == */
@font-face {
  font-family: "Abeezee";
  font-style: normal;
  font-weight: 400;
  src: local("ABeeZee"), local("ABeeZee-Regular"),
    url("../fonts/abeezee.ttf");
}

@font-face {
  font-family: "Acline";
  font-style: normal;
  font-weight: 400;
  src: local("Acline"), local("Acline-Regular"),
    url("../fonts/acline.ttf");
}

@font-face {
  font-family: "Airborn";
  font-style: normal;
  font-weight: 400;
  src: local("Airborn"), local("Airborn-Regular"),
    url("../fonts/airborne.ttf");
}

@font-face {
  font-family: "Alegreyasans";
  font-style: normal;
  font-weight: 400;
  src: local("Alegreyasans"), local("Alegreyasans-Regular"),
    url("../fonts/alegreyasans.ttf");
}

@font-face {
  font-family: "Nerisblack";
  font-style: normal;
  font-weight: 400;
  src: local("Nerisblack"), local("Nerisblack-Regular"),
    url("../fonts/nerisblack.ttf");
}

@font-face {
  font-family: "Nikodecs";
  font-style: normal;
  font-weight: 400;
  src: local("Nikodecs"), local("Nikodecs-Regular"),
    url("../fonts/nikodecs.ttf");
}

@font-face {
  font-family: "Oswaldheavy";
  font-style: normal;
  font-weight: 400;
  src: local("Oswaldheavy"), local("NikOswaldheavyodecs-Regular"),
    url("../fonts/Oswaldheavy.ttf");
}

@font-face {
  font-family: "Resavskabgsans";
  font-style: normal;
  font-weight: 400;
  src: local("Resavskabgsans"), local("Resavskabgsans-Regular"),
    url("../fonts/resavskabgsans.ttf");
}

@font-face {
  font-family: "Ristrettopro";
  font-style: normal;
  font-weight: 400;
  src: local("Ristrettopro"), local("Ristrettopro-Regular"),
    url("../fonts/Ristrettopro-regular.ttf");
}

/* == DECOR == */
@font-face {
  font-family: "Augustatwo";
  font-style: normal;
  font-weight: 400;
  src: local("Augustatwo"), local("Augustatwo-Regular"),
    url("../fonts/augustatwo.ttf");
}

@font-face {
  font-family: "Bradobrei";
  font-style: normal;
  font-weight: 400;
  src: local("bradobrei"), local("bradobrei-Regular"),
    url("../fonts/bradobrei.ttf");
}

@font-face {
  font-family: "Calligraphmedium";
  font-style: normal;
  font-weight: 400;
  src: local("Calligraphmedium"), local("Calligraphmedium-Regular"),
    url("../fonts/calligraphmedium.ttf");
}

@font-face {
  font-family: "Classicatwo";
  font-style: normal;
  font-weight: 400;
  src: local("Classicatwo"), local("Classicatwo-Regular"),
    url("../fonts/classicatwo.ttf");
}

@font-face {
  font-family: "Egipetbold";
  font-style: normal;
  font-weight: 400;
  src: local("Egipetbold"), local("Egipetbold-Regular"),
    url("../fonts/egipetbold.ttf");
}

@font-face {
  font-family: "Fortunagothicflorishc";
  font-style: normal;
  font-weight: 400;
  src: local("fortunagothicflorishc"), local("fortunagothicflorishc-Regular"),
    url("../fonts/fortunagothicflorishc.ttf");
}

/*=== GENERAL STYLES ===*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "airborne","Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 10px;
}

.title-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  margin: 0 15px 0 0;
  color: var(--basic-red);
}

.all-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: underline;
  color: var(--basic-red);
}

.all-link-icon {
  font-size: 16px;
  color: var(--basic-red);
  margin-right: 5px;
}

/*=== HEADER ===*/
.header-top-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 25px;
}

.header-logo-slogan-wrapper {
  margin-top: 10px;
}

.header-main-slogan {
  font-size: 11px;
  font-weight: 700;
  line-height: 6px;
  margin: 0 0 0 4px;
}

.contacts-login-wrapper {
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-contacts {
  margin: 0;
}

.contacts-tel-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;
  color: var(--basic-orange);
}

.header-weekdays {
  margin: 5px 0 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: var(--basic-greylight);
  text-align: center;
}

.login-link,
.signin-link,
.cart-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline;
  color: var(--text-brown);
}

.cart-link {
  padding-left: 25px;
  position: relative;
}

.cart-link::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 50%;
  left: 0;
  transform: translate(0px, -50%);
  background-image: url("../img/cart-small-img.png");
}

.products-counter {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: var(--text-brown);
}

.header-bottom-wrapper {
  background-color: var(--basic-brown);
  border-bottom: 7px var(--basic-red) solid;
  position: relative;
}

.main-nav {
  margin-top: 10px;
  padding: 10px;
  position: relative;
}

.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 550px;
  margin: 0 auto;
}

.main-nav-item {
  margin-right: 10px;
}

.main-nav-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline;
  color: var(--basic-orange);
}

.main-nav-link:hover {
  color: var(--white);
  text-decoration: none;
}

.mobile-cart-link {
  display: none;
  position: absolute;
}

.main-search-form {
  float: right;
  transform: translateY(-90%);
  position: relative;
}

.main-search,
.news-search {
  border-radius: 8px;
  width: 200px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.main-search-button {
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 3px;
  position: relative;
}

/*=== MAIN ===*/
.main {
  margin-top: 10px;
  padding: 0;
  display: grid;
  grid-template-columns: 205px 1fr 1fr 315px;
  grid-template-rows: 170px;
  gap: 10px;
}

.category-main {
  grid-template-rows: none;
}

/* PRODUCTS-CATEGORIES */
.products-categories {
  border-right: 2px var(--border-grey) solid;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.product-categories-list {
  margin: 5px 0;
  list-style: square;
}

.product-categories-item {
  color: red;
  font-size: 14px;
}

.product-categories-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-brown);
}

.product-categories-link:hover {
  color: var(--hover-blue);
  text-decoration: underline;
}

.active-category {
  list-style: none;
  margin-left: -13px;
}

.active-category .product-categories-link {
  font-weight: 700;
  text-decoration: underline;
}

.aside-advertisement-link {
  margin-top: 50px;
  display: block;
  width: 192px;
  height: 229px;
  position: relative;
}

.aside-advertisement-link::after {
  content: "";
  position: absolute;
  background-image: url("../img/banner_1.jpg");
  width: 192px;
  height: 229px;
}

/* NEWS-ASIDE */
.news-aside {
  overflow-y: scroll;
  height: 640px;
}

.add-news-button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: var(--basic-red);
}

.add-news-page-button {
  font-size: 18px;
}

.add-news-button:hover {
  color: var(--hover-blue);
}

.news-main-title {
  margin: 5px 0;
  margin-left: 15px;
}

.news-search-form {
  padding: 0 15px;
  margin-bottom: 10px;
}

.news-search-button {
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 3px;
}

.news-list {
  border-left: 2px var(--border-grey) solid;
  padding: 0 10px;
}

.add-news-item {
  margin: 15px 0;
}

.news-item:not(:first-child) {
  margin-bottom: 10px;
  padding: 0 5px 10px;
  border-bottom: 2px var(--basic-orange) solid;
}

.news-page-item:not(:first-child) {
  margin-bottom: 10px;
  padding: 25px;
  border-bottom: 2px var(--basic-orange) solid;
}

.news-body-top {
  display: flex;
  justify-content: space-between;
}

.news-page-body-top {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.news-img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.news-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin: 5px 0 0;
  width: 130px;
  color: var(--text-brown);
  text-overflow: ellipsis;
  overflow: hidden;
}

.news-page-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin: 5px 0 0;
  min-width: 700px;
  color: var(--text-brown);
  text-overflow: ellipsis;
  overflow: hidden;
}


.news-title:hover,
.news-page-title:hover {
  cursor: pointer;
  color: var(--hover-blue);
  text-decoration: none;
}

.news-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin: 5px 0 0;
  color: var(--text-brown);
  word-wrap: break-word;
}

.news-page-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 5px 0 0;
  color: var(--text-brown);
  word-wrap: break-word;
}

.news-pubdate {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
}

.news-pubdate {
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-red);
}

/* POPULAR-PRODUCERS-BANNER */
.popular-producers-banner {
  height: min-content;
  grid-row: 1;
  grid-column: 2 / 4;
}

/* PRODUCTS-NOVETLY */
.products-novelty {
  grid-column: 2 / 4;
}

.products-novelty-list,
.products-best-price-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.product-card {
  display: flex;
  background-color: var(--basic-background);
  padding: 0 5px;
  width: 240px;
  min-height: 132px;
  border: 1px var(--border-grey) solid;
}

.product-info-wrapper {
  display: grid;
}

.product-title {
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  width: 152px;
  min-height: 60px;
  margin: 0;
  text-decoration: underline;
  color: var(--text-brown);
}

.product-title:hover {
  cursor: pointer;
  color: var(--hover-blue);
  text-decoration: none;
}

.product-price {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  color: var(--text-brown);
}

.product-price-currency {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-brown);
}

.product-supply-number {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  font-style: italic;
  margin: 0;
  width: 90px;
  color: var(--text-brown);
}

.img-button-wrapper {
  display: grid;
  grid-template-columns: 80px;
  grid-template-rows: 1fr 25px;
  padding-bottom: 3px;
}

.product-img {
  width: 80px;
  height: 80px;
}

.product-buy-button {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--text-brown);
  background-color: var(--basic-orange);
  margin-right: 2px;
}

.product-buy-button:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--hover-tomato);
}

/* PRODUCTS-BEST-PRICE */
.products-best-price {
  outline-offset: -2px;
  grid-column: 2 / 4;
}

/*=== FOOTER ===*/
.footer {
  margin-top: 10px;
  background-color: var(--basic-brown);
  border-bottom: 7px var(--basic-red) solid;
}

.footer-content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 800px;
  padding: 25px;
}

.footer-email-text {
  margin: 0;
  color: var(--basic-orange);
}

.footer-email-link {
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-red);
}

.footer-socials-list {
  display: flex;
  flex-wrap: wrap;
}

.socials-item {
  margin-left: 15px;
}

/*=== MODAL ===*/
.modal {
  display: none;
  position: absolute;
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 5px 12px var(--black);
}

.modal-menu-open-button,
.modal-login-open-button {
  cursor: pointer;
  display: none;
  width: 0;
  height: 0;
  background-color: transparent;
  border: none;
  position: relative;
  margin-left: 60px;
}

.modal-menu-open-button::after,
.modal-login-open-button::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 5px;
  right: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-menu-close-button,
.modal-login-close-button {
  float: right;
  cursor: pointer;
  width: 0;
  height: 0;
  background-color: transparent;
  border: none;
  position: relative;
}

.modal-login-close-button::after,
.modal-menu-close-button::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  top: 5px;
  right: 12px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/close-icon.svg");
}

.modal-show {
  display: block;
  animation: slideout 0.6s;
}

.admin-show {
  visibility: visible !important;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px) translateX(-50%);
  }

  70% {
    transform: translateY(30px) translateX(-50%);
  }

  90% {
    transform: translateY(-10px) translateX(-50%);
  }

  100% {
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(-50%) translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-50%) translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-50%) translateX(5px);
  }
}

@keyframes slideout {
  0% {
    transform: translateX(300px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* MODAL-MENU */
.modal-menu {
  background-color: var(--basic-brown);
  top: 0;
  right: 0;
}

.modal-main-nav-list,
.modal-product-categories-list {
  margin: 0;
  padding: 15px 25px;
  list-style: none;
  border-bottom: 2px var(--basic-orange) solid;
}

.modal-main-nav-item,
.modal-product-categories-item,
.modal-login-item {
  margin-bottom: 10px;
}

.modal-main-nav-link,
.modal-product-categories-link,
.modal-login-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 14px;
}

.modal-main-nav-link,
.modal-login-link {
  color: var(--basic-orange);
}

.modal-product-categories-link,
.modal-products-counter {
  color: var(--basic-red);
}

.modal-menu-open-button::after {
  background-image: url("../img/menu-icon.svg");
}

/* MODAL-ADMIN-SIGNIN */
/* MODAL-NEWS-ADMIN */
.modal-news-admin,
.news-admin-signin {
  position: absolute;
  visibility: hidden;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  width: 550px;
  padding-bottom: 10px;
  box-shadow: 0 5px 12px var(--black);
}

.news-admin-title,
.admin-signin-title {
  text-align: center;
  color: var(--basic-orange);
}

.news-admin-form,
.admin-signin-form {
  display: grid;
  width: 500px;
  margin: 0 auto;
}

.news-admin-title-input,
.admin-signin-input {
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 5px;
}

.news-admin-text-area {
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 5px;
}

.news-admin-button,
.admin-signin-button {
  border-radius: 3px;
  width: 200px;
  margin: 0 auto;
  padding: 5px;
}

.modal-admin-close-button,
.admin-sighin-close-buttom {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/close-icon.svg");
}

/* MODAL-LOGIN */
.modal-login {
  background-color: var(--basic-brown);
  top: 0;
  right: 0;
}

.modal-login-list {
  margin-top: 30px;
  padding: 15px 25px 0;
  list-style: none;
}

.modal-login-open-button::after {
  background-image: url("../img/login-icon.svg");
}

/*=== MEDIA QUERIES ===*/
@media (max-width: 1290px) {
  .container {
    max-width: 970px;
  }

  .main-nav-list {
    margin: 0 0 0 20px;
  }

  .news-aside {
    display: none;
  }

  .popular-producers-banner {
    width: 700px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .main {
    grid-template-rows: 100px;
  }

  .category-main {
    grid-template-rows: none;
  }

  .main-nav-list {
    width: 400px;
    margin: 0 15px;
  }

  .news-page-body-top {
    grid-template-columns: 1fr;
  }

  .products-novelty-list,
  .products-best-price-list {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  .popular-producers-banner {
    width: 500px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 710px;
  }

  .popular-producers-banner {
    width: 470px;
  }
}

@media (max-width: 730px) {
  .container {
    max-width: 500px;
    margin: 0 auto;
  }

  .header-top-wrapper {
    justify-content: left;
  }

  .header-logo-slogan-wrapper {
    flex-grow: 1;
  }

  .header-logo-slogan-wrapper {
    margin: 0 0 5px 0;
  }

  .logo-img {
    width: 150px;
    height: 41px;
  }

  .header-main-slogan {
    font-size: 9px;
  }

  .contacts-login-wrapper {
    display: none;
  }

  .main-nav {
    padding: 20px;
  }

  .main-nav-list {
    display: none;
  }

  .mobile-cart-link {
    display: inline-block;
    width: 35px;
    height: 35px;
    top: 2px;
    left: 30px;
    background-image: url("../img/cart-big-img.png");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .mobile-cart-link {
    display: inline-block;
  }

  .main-search-form {
    transform: translateY(-50%);
  }

  .main-search {
    height: 30px;
  }

  .main-search-button {
    position: absolute;
    top: 6px;
    right: 8px;
    background-color: transparent;
    color: transparent;
    border: transparent;
  }

  .main-search-button::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    background-image: url("../img/search-icon.svg");
  }

  .main {
    grid-template-columns: 1fr;
  }

  .products-categories {
    display: none;
  }

  .popular-producers-banner {
    width: 470px;
  }

  .products-novelty-list,
  .products-best-price-list {
    gap: 20px;
  }

  .modal-menu-open-button,
  .modal-login-open-button {
    display: block;
  }
}

@media (max-width: 560px) {
  .page > * {
    overflow-x: hidden;
  }

  .container {
    max-width: 430px;
  }

  .main {
    grid-template-rows: min-content min-content;
  }

  .popular-producers-banner {
    display: none;
  }

  .news-page-title {
    font-size: 12px;
    min-width: 370px;
  }

  .products-novelty,
  .products-best-price {
    margin-top: 15px;
  }

  .products-novelty-list,
  .products-best-price-list {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .product-card {
    width: 400px;
    justify-content: space-between;
  }

  .product-title {
    font-size: 14px;
    width: 300px;
  }

  .product-price {
    font-size: 21px;
  }
  .product-price-currency {
    font-size: 14px;
  }
  .product-supply-number {
    font-size: 14px;
    width: 120px;
  }
  .product-buy-button {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 315px;
  }

  .products-novelty-list,
  .products-best-price-list {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .product-card {
    display: grid;
    width: 250px;
    justify-content: space-between;
  }

  .product-info-wrapper {
    margin: 10px auto;
  }

  .product-title {
    font-size: 14px;
    width: 250px;
    text-align: center;
  }

  .product-price {
    font-size: 21px;
    text-align: center;
  }
  .product-price-currency {
    font-size: 14px;
    text-align: center;
  }
  .product-supply-number {
    font-size: 14px;
    text-align: center;
    width: 120px;
  }

  .img-button-wrapper {
    margin: 0 auto;
    order: -1;
  }

  .product-buy-button {
    font-size: 18px;
  }

  .modal-menu-open-button,
  .modal-login-open-button {
    margin-left: 39px;
  }

}
