/*=== ROOT PROPERTIES ===*/
:root {
  --basic-brown: #393939;
  --basic-orange: #ffb326;
  --basic-red: #ee0000;
  --basic-greylight: #9a9a9a;
  --basic-background: #f5f5f5;
  --text-brown: #3e3e3e;
  --black: #000;
  --white: #fff;
}

/*=== FONTS ===*/
/* == SANS == */
@font-face {
  font-family: "Abeezee";
  font-style: normal;
  font-weight: 400;
  src: local("ABeeZee"), local("ABeeZee-Regular"),
    url("../fonts/abeezee.ttf");
}

@font-face {
  font-family: "Acline";
  font-style: normal;
  font-weight: 400;
  src: local("Acline"), local("Acline-Regular"),
    url("../fonts/acline.ttf");
}

@font-face {
  font-family: "Airborn";
  font-style: normal;
  font-weight: 400;
  src: local("Airborn"), local("Airborn-Regular"),
    url("../fonts/airborne.ttf");
}

@font-face {
  font-family: "Alegreyasans";
  font-style: normal;
  font-weight: 400;
  src: local("Alegreyasans"), local("Alegreyasans-Regular"),
    url("../fonts/alegreyasans.ttf");
}

@font-face {
  font-family: "Nerisblack";
  font-style: normal;
  font-weight: 400;
  src: local("Nerisblack"), local("Nerisblack-Regular"),
    url("../fonts/nerisblack.ttf");
}

@font-face {
  font-family: "Nikodecs";
  font-style: normal;
  font-weight: 400;
  src: local("Nikodecs"), local("Nikodecs-Regular"),
    url("../fonts/nikodecs.ttf");
}

@font-face {
  font-family: "Oswaldheavy";
  font-style: normal;
  font-weight: 400;
  src: local("Oswaldheavy"), local("NikOswaldheavyodecs-Regular"),
    url("../fonts/Oswaldheavy.ttf");
}

@font-face {
  font-family: "Resavskabgsans";
  font-style: normal;
  font-weight: 400;
  src: local("Resavskabgsans"), local("Resavskabgsans-Regular"),
    url("../fonts/resavskabgsans.ttf");
}

@font-face {
  font-family: "Ristrettopro";
  font-style: normal;
  font-weight: 400;
  src: local("Ristrettopro"), local("Ristrettopro-Regular"),
    url("../fonts/Ristrettopro-regular.ttf");
}

/* == DECOR == */
@font-face {
  font-family: "Augustatwo";
  font-style: normal;
  font-weight: 400;
  src: local("Augustatwo"), local("Augustatwo-Regular"),
    url("../fonts/augustatwo.ttf");
}

@font-face {
  font-family: "Bradobrei";
  font-style: normal;
  font-weight: 400;
  src: local("bradobrei"), local("bradobrei-Regular"),
    url("../fonts/bradobrei.ttf");
}

@font-face {
  font-family: "Calligraphmedium";
  font-style: normal;
  font-weight: 400;
  src: local("Calligraphmedium"), local("Calligraphmedium-Regular"),
    url("../fonts/calligraphmedium.ttf");
}

@font-face {
  font-family: "Classicatwo";
  font-style: normal;
  font-weight: 400;
  src: local("Classicatwo"), local("Classicatwo-Regular"),
    url("../fonts/classicatwo.ttf");
}

@font-face {
  font-family: "Egipetbold";
  font-style: normal;
  font-weight: 400;
  src: local("Egipetbold"), local("Egipetbold-Regular"),
    url("../fonts/egipetbold.ttf");
}

@font-face {
  font-family: "Fortunagothicflorishc";
  font-style: normal;
  font-weight: 400;
  src: local("fortunagothicflorishc"), local("fortunagothicflorishc-Regular"),
    url("../fonts/fortunagothicflorishc.ttf");
}

/*=== GENERAL STYLES ===*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width: 1300px;
  margin: 0;
  padding: 0;
  font-family: "airborne","Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;

    /* СЕТКА */

  /* display: grid;
  grid-template-rows: min-content 1fr min-content; */
  align-content: start;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1290px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-red);
}

/*=== HEADER ===*/
.header-main-slogan {
  font-size: 11px;
}

.contacts-tel-link {
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-orange);
}

.header-weekdays {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-greylight);
}

.login-link,
.signin-link,
.cart-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: underline;
  color: var(--text-brown);
}

.products-counter {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-brown);
}

.main-nav {
  background-color: var(--basic-brown);
}

.main-nav-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: underline;
  color: var(--basic-orange);
}

.main-search-button {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
}

/*=== MAIN ===*/
/* PRODUCTS-CATEGORIES */
.product-categories-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-brown);
}

.active-category {
  font-weight: 700;
  text-decoration: underline;
  list-style: none;
}

/* NEWS-ASIDE */
.news-search-button {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
}

.news-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  color: var(--text-brown);
}

.news-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-brown);
}

.news-pubdate,
.news-comments-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.news-pubdate {
  color: var(--basic-red);
}

.news-comments-link {
  color: var(--basic-orange);
}

/* POPULAR-PRODUCERS-BANNER */

/* PRODUCTS-NOVETLY */
.all-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: underline;
  color: var(--basic-red);
}

.product-card {
  background-color: var(--basic-background);
}

.product-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: underline;
  color: var(--text-brown);
}

.product-price {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  color: var(--text-brown);
}

.product-price-currency {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-brown);
}

.product-supply-number {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  font-style: italic;
  color: var(--text-brown);
}

.product-buy-button {
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-brown);
  border: none;
  background-color: var(--basic-orange);
}

/* PRODUCTS-BEST-PRICE */

/*=== FOOTER ===*/
