/*=== ROOT PROPERTIES ===*/
:root {
  --basic-brown: #393939;
  --basic-orange: #ffb326;
  --basic-red: #ee0000;
  --basic-greylight: #9a9a9a;
  --basic-background: #f5f5f5;
  --border-grey: #cdcdcd;
  --text-brown: #3e3e3e;
  --hover-blue: #00669c;
  --hover-tomato: #d2400f;
  --black: #000;
  --white: #fff;
}

/*=== FONTS ===*/
/* == SANS == */
@font-face {
  font-family: "Abeezee";
  font-style: normal;
  font-weight: 400;
  src: local("ABeeZee"), local("ABeeZee-Regular"),
    url("../fonts/abeezee.ttf");
}

@font-face {
  font-family: "Acline";
  font-style: normal;
  font-weight: 400;
  src: local("Acline"), local("Acline-Regular"),
    url("../fonts/acline.ttf");
}

@font-face {
  font-family: "Airborn";
  font-style: normal;
  font-weight: 400;
  src: local("Airborn"), local("Airborn-Regular"),
    url("../fonts/airborne.ttf");
}

@font-face {
  font-family: "Alegreyasans";
  font-style: normal;
  font-weight: 400;
  src: local("Alegreyasans"), local("Alegreyasans-Regular"),
    url("../fonts/alegreyasans.ttf");
}

@font-face {
  font-family: "Nerisblack";
  font-style: normal;
  font-weight: 400;
  src: local("Nerisblack"), local("Nerisblack-Regular"),
    url("../fonts/nerisblack.ttf");
}

@font-face {
  font-family: "Nikodecs";
  font-style: normal;
  font-weight: 400;
  src: local("Nikodecs"), local("Nikodecs-Regular"),
    url("../fonts/nikodecs.ttf");
}

@font-face {
  font-family: "Oswaldheavy";
  font-style: normal;
  font-weight: 400;
  src: local("Oswaldheavy"), local("NikOswaldheavyodecs-Regular"),
    url("../fonts/Oswaldheavy.ttf");
}

@font-face {
  font-family: "Resavskabgsans";
  font-style: normal;
  font-weight: 400;
  src: local("Resavskabgsans"), local("Resavskabgsans-Regular"),
    url("../fonts/resavskabgsans.ttf");
}

@font-face {
  font-family: "Ristrettopro";
  font-style: normal;
  font-weight: 400;
  src: local("Ristrettopro"), local("Ristrettopro-Regular"),
    url("../fonts/Ristrettopro-regular.ttf");
}

/* == DECOR == */
@font-face {
  font-family: "Augustatwo";
  font-style: normal;
  font-weight: 400;
  src: local("Augustatwo"), local("Augustatwo-Regular"),
    url("../fonts/augustatwo.ttf");
}

@font-face {
  font-family: "Bradobrei";
  font-style: normal;
  font-weight: 400;
  src: local("bradobrei"), local("bradobrei-Regular"),
    url("../fonts/bradobrei.ttf");
}

@font-face {
  font-family: "Calligraphmedium";
  font-style: normal;
  font-weight: 400;
  src: local("Calligraphmedium"), local("Calligraphmedium-Regular"),
    url("../fonts/calligraphmedium.ttf");
}

@font-face {
  font-family: "Classicatwo";
  font-style: normal;
  font-weight: 400;
  src: local("Classicatwo"), local("Classicatwo-Regular"),
    url("../fonts/classicatwo.ttf");
}

@font-face {
  font-family: "Egipetbold";
  font-style: normal;
  font-weight: 400;
  src: local("Egipetbold"), local("Egipetbold-Regular"),
    url("../fonts/egipetbold.ttf");
}

@font-face {
  font-family: "Fortunagothicflorishc";
  font-style: normal;
  font-weight: 400;
  src: local("fortunagothicflorishc"), local("fortunagothicflorishc-Regular"),
    url("../fonts/fortunagothicflorishc.ttf");
}

/*=== GENERAL STYLES ===*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width: 1300px;
  margin: 0;
  padding: 0;
  font-family: "airborne","Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1290px;
  margin: 0 auto;
  padding: 0 10px;
}

.title-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  margin: 0 15px 0 0;
  color: var(--basic-red);
}

.all-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: underline;
  color: var(--basic-red);
  padding-left: 15px;
}

/*=== HEADER ===*/
.header-top-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.header-logo-slogan-wrapper {
  margin-top: 10px;
}

.header-main-slogan {
  font-size: 11px;
  font-weight: 700;
  line-height: 6px;
  margin: 0 0 0 4px;
}

.contacts-login-wrapper {
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-contacts {
  margin: 0;
}

.contacts-tel-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;
  color: var(--basic-orange);
}

.header-weekdays {
  margin: 5px 0 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: var(--basic-greylight);
  text-align: center;
}

.login-link,
.signin-link,
.cart-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline;
  color: var(--text-brown);
}

.products-counter {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: var(--text-brown);
}

.main-nav {
  margin-top: 10px;
  background-color: var(--basic-brown);
  padding: 10px;
  border-bottom: 7px var(--basic-red) solid;
  position: relative;
}

.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 520px;
  margin: 0 auto;
}

.main-nav-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline;
  color: var(--basic-orange);
}

.main-nav-link:hover {
  color: var(--white);
  text-decoration: none;
}

.main-search-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.main-search,
.news-search {
  border-radius: 8px;
  width: 200px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.main-search-button {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 3px;
}

/*=== MAIN ===*/
.main {
  margin-top: 10px;
  padding: 0;
  display: grid;
  grid-template-columns: 220px 1fr 1fr 315px;
  grid-template-rows: 170px;
  gap: 10px;
}

/* PRODUCTS-CATEGORIES */
.products-categories {
  border-right: 2px var(--border-grey) solid;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.product-categories-list {
  margin: 5px 0;
}

.product-categories-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-brown);
}

.product-categories-link:hover {
  color: var(--hover-blue);
  text-decoration: underline;
}

.active-category {
  font-weight: 700;
  text-decoration: underline;
  list-style: none;
}

/* NEWS-ASIDE */
.news-aside {
  grid-column: -1 / 4;
}

.news-main-title {
  margin: 5px 0;
  margin-left: 15px;
}

.news-search-form {
  padding: 0 15px;
  margin-bottom: 10px;
}

.news-search-button {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 3px;
}

.news-list {
  border-left: 2px var(--border-grey) solid;
  padding: 0 10px;
}

.news-item {
  margin-bottom: 10px;
  padding: 0 5px;
}

.news-body-top {
  display: grid;
  grid-template-columns: 220px 40px;
}

.news-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin: 5px 0 0;
  color: var(--text-brown);
}

.news-title:hover {
  cursor: pointer;
  color: var(--hover-blue);
  text-decoration: none;
}

.news-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin: 5px 0 0;
  color: var(--text-brown);
}

.news-pubdate,
.news-comments-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.news-pubdate {
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-red);
}

.news-comments-link {
  color: var(--basic-orange);
}

/* POPULAR-PRODUCERS-BANNER */
.popular-producers-banner {
  height: min-content;
  grid-row: 1;
  grid-column: 2 / 4;
}

/* PRODUCTS-NOVETLY */
.products-novelty {
  outline-offset: -2px;
  grid-column: 2 / 4;
}

.products-novelty-list,
.products-best-price-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

.product-card {
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-background);
  padding: 5px;
  width: 300px;
}

.product-info-wrapper {
  display: grid;
  gap: 7px;
}

.product-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  width: 200px;
  min-height: 60px;
  margin: 0;
  text-decoration: underline;
  color: var(--text-brown);
}

.product-title:hover {
  cursor: pointer;
  color: var(--hover-blue);
  text-decoration: none;
}

.product-price {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  color: var(--text-brown);
}

.product-price-currency {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-brown);
}

.product-supply-number {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  font-style: italic;
  margin: 0;
  width: 90px;
  color: var(--text-brown);
}

.img-button-wrapper {
  display: grid;
  grid-template-rows: 1fr 25px;
}

.product-buy-button {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--text-brown);
  background-color: var(--basic-orange);
}

.product-buy-button:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--hover-tomato);
}

/* PRODUCTS-BEST-PRICE */
.products-best-price {
  outline-offset: -2px;
  grid-column: 2 / 4;
}

/*=== FOOTER ===*/
.footer-email {
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-orange);
}


/* TODO:
4) list-style у категорий
5) Карточки товаров
6) Футер */
